@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromDown {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

body{
    display: flex;
    justify-content: center;
    background-color: rgba(206, 206, 206, 0.288);
}

.UdayKumarDiv{
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    margin-top: 40px;
}

.hi{
    width: 500px;
}

.udayKumar{
    margin-left: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: default;
    font-family: Arial;
    color:black;
}

.con{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type : none;
    font-weight: bold;
    font-size: 23px;
    list-style: none;
    height: 40px;
    width: 130px;
    color: rgb(0, 0, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}
.con:hover{
    background-color: rgb(214, 214, 214);
    border-radius: 22px;
    opacity: 0.7;
    text-decoration: underline;
    overflow: hidden;
}

.imageAndText{
    margin-top: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.image{
    margin-top: 10px;
    box-shadow: rgb(132, 132, 223) 10px 11px 16px ;
    border-radius: 60px;
    height: 420px; 
}

a{
    color: inherit;
    text-decoration: rgb(0, 0, 0);
}
html{
    scroll-behavior: smooth;
}
.image{
    animation-name: slideInRight;
    animation-duration: 1100ms;
}
.listClass{
    display: flex;
    animation-name: slideInRight;
    animation-duration: 1100ms;
}
h1,.hi,.paragh{
    animation-name: slideInLeft;
    animation-duration: 1100ms;
}
.CV{
    height: 38px;
    width: 140px;
    border-width: 2px;
    border-radius: 20px;
    border-color: #e02929;
}

.auto-type{
    transition: all 300ms ease-in;
}

.CV:hover{
    opacity: 0.7;
    background-color: rgb(214,214,214);
}

.CV,.con{
   transition: all 300ms ease-in;
}
.about-section {
    margin-left: 20px;
    margin-top: 50px;
    animation: slideFromDown 1s;
}

.about-section h2  {
    font-size: 30px;
    color: #000;
}

.about-section p  {
    font-size: 17px;
    color: black;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.6;
}
