@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromDown {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(248, 248, 248);
}

.UdayKumarDiv{
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    margin-top: 40px;
}

.hi{
    width: 500px;
}

.udayKumar{
    font-family: "Marck Script";
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    margin-left: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: default;
    color:black;
}

.con{    
    font-family: "Merienda", cursive;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type : none;
    font-size: 21px;
    list-style: none;
    height: 40px;
    width: 120px;
    color: #000000;
    cursor: pointer;

}
.dark_mode:hover,.con:hover{    
    overflow: hidden;
    box-shadow: 2px 3px 0.2em  #000000  ;
}
.dark_mode{
    border-radius: 20px;
    margin-left: 3px;
    background-color: white;

}

.imageAndText{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.image{
    margin-top: 10px;
    box-shadow: 9px  10px 0.7em  #9b8c3af6  ;
    border-radius: 60px;
    height: 420px; 
}
.downloadButtonImage{
    margin-left: 4px;
    height : 16px;
    width : 17px;
}
a{
    color: inherit;
    text-decoration: rgb(0, 0, 0);
}

html{
    scroll-behavior: smooth;
}

.image{
    animation-name: slideInRight;
    animation-duration: 1100ms;
}

.listClass{
    display: flex;
    animation-name: slideInRight;
    animation-duration: 1100ms;
}
h1,.hi,.paragh{
    animation-name: slideInLeft;
    animation-duration: 1100ms;
}
.CV{
    font-family: "Merienda", cursive;
    height: 38px;
    width: 160px;
    text-align: center;
    border-width: 2px;
    border-radius: 8px;
    border-color: black;

}


.auto-type{
    transition: all 300ms ease-in;
}

.CV:hover{
    box-shadow: 4px 5px 0.2em  #000000  ;
    background-color: rgba(212, 181, 8, 0.3);   
}

.CV,.con,button{
   transition: all 300ms ease-in;
}
.about-section {
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 50px;
    animation: slideFromDown 1s;
}


.about-section p {
    font-size: 21px;
    color: rgba(0, 0, 0, 0.705);
    max-width: 1000px;
    line-height: 1.5;
}
h6{
    line-height: 0;
    font-size: 13px;
    color :rgba(0, 0, 0, 0.705);
}

